*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 80vw;
    margin: 10px auto;
}

.repotrCard{
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0.8);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3px;

}

/* headerCard --------------------------------------------------------> */
.headerCard{
    direction: rtl;
    width: 100%;
    display: flex;
    gap: 3px;
}


.organization-info{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: 1.3rem;

}

.region-info{
    width: 30%;
    display: flex;
    /* justify-content: center; */
    border: 1px solid;
    padding: 10px;
    
}
.student-info{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
}
.student-photo{
    width: 10%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 10px;
}
/*---------------------------------------------------------------------------------------------  */



/*  mainCard------------------------------------------------------------------------------------->*/
.mainCard{
    width: 100%;

}

.mainCard table{
    width: 100%;
    border: 1px solid;
    direction: rtl;
}

.mainCard table thead{
    height: 50px;
}




.foterCard{

}
.caption-foterCard{

}